@page "/"

<PageTitle>Home</PageTitle>

<h1>Michał Krawczyk</h1>

Nr.Albumu: 93190


<div style="padding-top:10px">
    <p>Data wersji: @DateTime.UtcNow.ToLocalTime().ToLongDateString()</p>
</div>

<hr/>
