@using System.Runtime.InteropServices.JavaScript




   
    <h2>Tabela Premier League 2023/2024</h2>



<ul>
    
    <li>1.Manchester City</li>
    <li>2.Arsenal</li>
    <li>3.Liverpool</li>
    <li>4.Aston Villa</li>
    <li>5.Tottenham</li>
    <li>6.Chelsea</li>
    <li>7.Newcastle</li>
    <li>8.Manchester Utd</li>
    <li>9.west Ham</li>
    <li>10.Crystal Palace</li>
    <li>11.Brighton</li>
    <li>12.Bournemouth</li>
    <li>13.Fulham</li>
    <li>14.Wolves</li>
    <li>15.Everton</li>
    <li>16.Brendford</li>
    <li>17.Nottingham</li>
    <li>18.Luton</li>
    <li>19.Burnley</li>
    <li>20.Sheffield Utd</li>

</ul> 










